---
layout: default
title: Bokning
banner-image:
  image: ''
  blurred:
  blurred-half: false
  position:
  heading:
  description:
  url:
  url-text:
small-banner-image:
  image:
  blurred:
  blurred-half:
  position:
  heading:
  description:
  url:
  url-text:
seo:
  title: Bokning
  description: "your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

{% include banner.html %}

<!------------------------------- This is the booking banner on the top  ------------------------------->
<section class="">
  <div class="bg-dark-green-color p-10p grid grid-cols-5 text-white-color uppercase">
      <span class="col-span-1"> < </span>
      <h3 class="col-span-3 text-center"> Boka kurs </h3>
      <h3 class="col-span-5 text-center"> {{ page.title }} </h3>
  </div>

  <!-- <div class="bg-white-color p-10p"></div> -->  <!-- This is going to be the middle part of the top banner (just color) -->
  <!-- <div class="bg-light-green-color p-10p"></div> --> <!-- This is going to be the bottom part of the top banner (just color) -->
</section>

<!------------------------------- Preview courses booking ------------------------------->
<section class="p-5p bg-white-color">
  <div class="max-w-screen-2xl p-5p py-0">
    <h3 class="uppercase text-4xl text-center m-0 px-5p pb-5p"> Kursutbud! </h3>

    <div class="grid gap-4">
      {% for item in site.booking %}
        {% include booking-loop.html aspect='6' %}
      {% endfor %}
    </div>

  </div>
</section>