---
layout: default
banner-image:
  image: '/images/dog-9.jpg'
  blurred:
  position:
  heading:
  description:
  url:
  url-text:
seo:
  title: Contact
  description: "your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

<!------------------------------- Image banner ------------------------------->
<section class="bg-cover bg-center" style="background-image: url('{{ page.banner-image.image }}'); background-position:{{ page.banner-image.position }}"> 
    <div class="grid grid-cols-5 text-white {% if page.banner-image.blurred-image == true %} blurred-background {% endif %}">

        <!------ You need the min-h class on the div that's holding the text to give it space to move around ------>
        <div class="max-w-screen-2xl min-h-80 {% if page.banner-image.blurred == true %} blurred-background {% endif %} p-15p col-span-2 rounded-tr-[65%] flex flex-col justify-center">
            <h2 class="max-w-md text-7xl mb-6 font-cursive">  {{ page.banner-image.heading }} </h2>
            <p class="max-w-md text-2xl font-normal">  {{ page.banner-image.description }} </p>
            <a href="{{ page.banner-image.url }}" class="uppercase font-heading hover:bg-middle-green-color text-green-color hover:text-green-color text-lg py-2 px-7 inline-block mt-6 max-w-fit"> {{ page.banner-image.url-text }} </a>
        </div>
        
    </div>
</section>

<!------------------------------- Contact us ------------------------------->
<section class="p-10p">
    <div class="grid md:grid-cols-2">
  
      <form class="p-20p">
        <h2 class="text-3xl uppercase pb-5p text-dark-green-color"> Skriv till mig! </h2>
  
        <div class="relative z-0 w-full mb-6"> <!-- This is the name area -->
              <input type="text" name="name" id="name" class="block py-2.5 px-0 w-full text-sm text-dark-green-color bg-transparent border-0 border-b-2 border-dark-green-color appearance-none focus:outline-none focus:ring-0 focus:border-light-green-color peer" placeholder=" " required />
              <label for="name" class="peer-focus:font-medium absolute text-sm text-dark-green-color duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-dark-green-color peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> Namn </label>
        </div>
  
        <div class="relative z-0 w-full mb-6 group"> <!-- This is the email area -->
            <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-dark-green-color bg-transparent border-0 border-b-2 border-dark-green-color appearance-none focus:outline-none focus:ring-0 focus:border-light-green-color peer" placeholder=" " required />
            <label for="email" class="peer-focus:font-medium absolute text-sm text-dark-green-color  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-dark-green-color peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> E-post </label>
        </div>
  
        <div class="relative mt-12"> <!-- This is the message area -->
          <textarea  name="message" id="message" class="block py-2.5 px-0 w-full text-sm text-dark-green-color bg-transparent border-2 border-dark-green-color appearance-none focus:outline-none focus:ring-0 focus:border-light-green-color peer" placeholder=" " required  rows="9"></textarea>
          <label for="messsage" class="-top-[1.4rem] peer-focus:font-medium absolute text-sm text-dark-green-color duration-300 transform -translate-y-6 scale-75  origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75"> Meddelande </label>
          
          <input type="submit" value="SÄND" class="block w-min border-2 bg-dark-green-color hover:bg-light-green-color text-light-green-color hover:text-dark-green-color border-dark-green-color hover:border-light-color ml-auto mt-5p cursor-pointer px-10 py-1">
        </div> 
        
      </form>

    </div>
</section>

<!------------------------------- Map ------------------------------->
<section class="p-15p">
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2043.3333586943897!2d17.89389837695342!3d59.19372442186811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f71ba81620abf%3A0xe1ae06f2460f6dc3!2sBrantbrinks%20hundpensionat!5e0!3m2!1sno!2sno!4v1701690950136!5m2!1sno!2sno" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>