---
layout: default
title: Kurser
banner-image:
  image: 
  blurred:
  blurred-half:
  position:
  heading:
  description:
  url:
  url-text:
small-banner-image:
  image: '/images/dog-18.jpg'
  blurred:
  blurred-half:
  position:  50% 22%
  heading:
  description:
  url:
  url-text:
seo:
  title: Kurser
  description: "your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---
<!------------------------------- Image banner ------------------------------->
{% include small-banner.html %}

<!------------------------------- Preview courses ------------------------------->
<section class="p-5p bg-white-color">
  <div class="max-w-screen-2xl p-5p py-0">
    <h3 class="uppercase text-4xl text-center m-0 px-5p pb-5p font-heading"> Kursutbud </h3>

    <div class="grid gap-4">
      {% for item in site.courses %}
        {% include course-loop.html aspect='4' %}
      {% endfor %}
    </div>

  </div>
</section>

