---
layout: default
title: Din tass i min
banner-image:
  image: '/images/dog-8.jpg'
  blurred: false
  blurred-half: true
  position: 50% 55%
  heading:
  description:
  url:
  url-text:
cards:
  - heading: Om mig
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellendus quibusdam laborum at mollitia delectus quo et sint beatae laudantium minus nemo ex, id nisi, iure inventore provident temporibus illo! 
    link: om mig
  - heading: Mina kurser
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellendus quibusdam laborum at mollitia delectus quo et sint beatae laudantium minus nemo ex, id nisi, iure inventore provident temporibus illo! 
    link: mina kurser
  - heading: Info
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellendus quibusdam laborum at mollitia delectus quo et sint beatae laudantium minus nemo ex, id nisi, iure inventore provident temporibus illo! 
    link: info 
image-grid:
    img-1: /images/dog-1.jpg
    img-2: /images/dog-2.jpg
    img-3: /images/dog-3.jpg
    img-4: /images/dog-4.jpg
seo:
  title: Din tass i min
  description: "Jag hjälper dig att bygga en relation till din valp"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---
<!------------------------------- Image banner ------------------------------->

{% include banner.html %}


<!------------------------------- Grid loop opening ------------------------------->
<section class="p-5p">

  <div class="grid grid-cols-3 gap-10 justify-between"> 

    {% for item in page.cards %}
    <div class="{% cycle 'bg-white-color', 'bg-light-green-color', 'bg-dark-green-color' %} p-10p">
      <h2 class="p-3 pb-0"> {{ item.heading }} </h2>
      <p class="p-3"> {{ item.description }} </p>
      <a href="#" class="border border-black px-5 py-2 inline-block text-center"> {{ item.link }} </a>
    </div>
    {% endfor %}

  </div>

<div class="p-5p pb-0 text-center">
  <a href="/courses.html" class="inline-block text-center border border-light-green-color px-5 py-2"> alla kursers </a>
</div>
 

</section>

<!------------------------------- Online banner ------------------------------->
<section class="p-5p bg-white-color">
  <div class="text-center">
    <h3> online kurser </h3>
    <p class="px-10p py-5"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis repellendus quibusdam laborum at mollitia delectus quo et sint beatae laudantium minus nemo ex, id nisi, iure inventore provident temporibus illo! </p>
    <a href="/online-courses.html" class="inline-block text-center border border-light-green-color px-5 py-2"> Läs mer! </a>
  </div>
  <div>
    <!-- Icon/image -->
  </div>

</section>

<!------------------------------- Short about section ------------------------------->

<section class="grid grid-cols-2 gap-4 p-5p">

  <div class="grid grid-cols-2">
    <div class=" bg-dark-green-color relative pb-100p"> <img src="{{ page.image-grid.img-1}}" alt="" class="absolute inset-0 w-full h-full object-cover">  </div>
    <div class=" bg-light-green-color relative pb-100p">  <img src="{{ page.image-grid.img-2}}" alt="" class="absolute inset-0 w-full h-full object-cover">  </div>
    <div class=" bg-white-color relative pb-100p">  <img src="{{ page.image-grid.img-3}}" alt="" class="absolute inset-0 w-full h-full object-cover">  </div>
    <div class=" bg-slate-400 relative pb-100p">  <img src="{{ page.image-grid.img-4}}" alt="" class="absolute inset-0 w-full h-full object-cover"> </div>
  </div>

  <div class="p-5p flex flex-col justify-center">
    <h3> vem är jag? </h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum nemo dignissimos corporis recusandae consequatur adipisci doloremque facere voluptatem fugiat fugit, itaque perferendis sed suscipit doloribus commodi at molestias? Labore. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, sit nemo facilis sapiente alias maiores perspiciatis natus eius quaerat placeat! Id fugiat dolorem iste, impedit atque voluptas reiciendis doloremque quo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem vero officia facere provident alias maiores architecto delectus, sint eius id modi fugiat aliquam, laudantium, nam qui! Fugiat quasi soluta tempore!</p>
  </div>

</section>