<!--------------------------- This is the footer that goes on all pages --------------------------->
<footer class="bg-stone-100 p-5p py-5"> 

    <div class="grid grid-cols-5 border-b border-dark-green-color p-5">
        <div class="">
            <a href="/index.html" class="text-2xl border border-black rounded-full p-5 inline-block px-5 py-2 font-heading"> logo </a>
        </div>    
        <nav class="col-start-5 flex items-center justify-end font-heading">
            <a href="#" class="font-bold px-4"> F </a>
            <a href="#" class="font-bold px-4"> X </a>
            <a href="#" class="font-bold px-4"> I </a>
        </nav>

    </div>

    <div class="max-w-screen-xl grid grid-cols-6 gap-40 pt-5">
       
        <div class="col-span-2 flex">

            <div class="flex flex-col items-center justify-center uppercase">
                <h2 class="tracking-wide font-heading"> Explore </h2>
                <nav class="flex flex-col p-4 text-sm">
                    <a href="/index.html"> Home </a>
                    <a href="/blog.html"> Blog </a>
                    <a href="/shop.html"> Shop </a>
                    <a href="/member-login.html"> Members </a>
               </nav> 
            </div>
    
            <div class="flex flex-col items-center justify-center uppercase">
                <h2 class="tracking-wide font-heading"> connect </h2>
                <nav class="flex flex-col p-4 text-sm">
                  <a href="/index.html"> facebook </a>
                  <a href="/blog.html"> twitter </a>
                  <a href="/shop.html"> pinterest </a>
                  <a href="/member-login.html"> linked in </a>
                </nav>
            </div>  

        </div>

        <div class="col-span-4 flex flex-col">
            <a href="#" class="font-serif text-4xl mb-4 block tracking-wide text-right uppercase font-heading"> heading </a>
            <p class="min-w-50p p-1.5"> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laboriosam, quibusdam, aliquid amet deserunt asperiores assumenda ipsum vitae quis cupiditate corporis! Aspernatur, eum suscipit. Laborum in dolor doloremque autem quo! </p>
          </div> 
          
    </div>

</footer>