---
layout: default
seo:
  title: Contact
  description: "your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

<!------------------------------- This is the booking banner on the top  ------------------------------->
<section class="">
  <div class="bg-dark-green-color p-10p grid grid-cols-5 text-white-color uppercase">
      <span class="col-span-1"> < </span>
      <h3 class="col-span-3 text-center"> Boka kurs </h3>
      <h3 class="col-span-5 text-center"> {{ page.title }} </h3>
  </div>
  <div class="bg-white-color p-10p"></div>
  <div class="bg-light-green-color p-10p"></div>
</section>

<!------------------------------- This is the section with the three squares and so on  ------------------------------->
<section class="">
  <h3> {{ page.small-text }} </h3> <!-- This is the small text above the heading -->
  <h2> {{ page.heading }} </h2> <!-- The heading itself -->
  <p> {{ page.description }} </p> <!-- This is the description of the course -->

  <div class="grid grid-cols-3 gap-10 justify-between"> 
    {% for item in page.square %}
    <div class="">
      <div class="bg-dark-green-color p-5p text-white-color text-center max-w-15p m-auto">
        <span> {{ item.number }} </span>
      </div>
      <div class="text-center"> 
        <h3> {{ item.heading }} </h3>
        <p class="max-w-50p"> {{ item.description }} </p>
      </div>
    </div>
  {% endfor %}

  <div class=""></div> <!-- This will be the booking with mail popping up -->
 
</div>
