---
layout: default
---
<!------------------------------- Image banner ------------------------------->
{% include banner.html %}

<!------------------------------- Image banner ------------------------------->
<section class="bg-light-green-color p-5p">
    <div class="max-w-screen-xl">
        <div class="grid grid-cols-2">
            <div class="p-10">
                <h2 class="text-2xl uppercase pb-5"> {{ page.title }} </h2>
                <p class=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate itaque culpa cumque omnis quis natus qui laudantium blanditiis ipsum est exercitationem, veniam quam sint repudiandae quaerat quod, delectus illo perferendis. </p>
                <h3 class="py-5"> {{ page.inside }} </h3>
                <p> Lorem ipsum dolor sit amet </p>
                <p> Lorem ipsum dolor sit amet </p>
                <p> Lorem ipsum dolor sit amet </p>
                <p> Lorem ipsum dolor sit amet </p>

                <div class="pt-5">
                    <a href="/booking.html" class="inline-block border border-dark-green-color px-5 py-2"> boka </a>
                    <a href="/courses.html" class="inline-block border border-dark-green-color px-5 py-2 text-right"> alla kurser </a>
                </div>
            </div>

            <div class="p-10 pb-50p bg-dark-green-color">  <!-- image --> </div>
        </div>
    </div>
</section>

<section class="">
    <div class="max-w-screen-xl m-auto">
        <div class="grid grid-cols-4 p-5p">
            
            <div class=" bg-dark-green-color relative pb-100p"> <img src="{{ page.image-slide.img-1}}" alt="" class="absolute inset-0 w-full h-full object-cover">  </div>
            <div class=" bg-light-green-color relative pb-100p">  <img src="{{ page.image-slide.img-2}}" alt="" class="absolute inset-0 w-full h-full object-cover">  </div>
            <div class=" bg-white-color relative pb-100p">  <img src="{{ page.image-slide.img-3}}" alt="" class="absolute inset-0 w-full h-full object-cover">  </div>
            <div class=" bg-slate-400 relative pb-100p">  <img src="{{ page.image-slide.img-4}}" alt="" class="absolute inset-0 w-full h-full object-cover"> </div>

        </div>
    </div>


</section>

<section class="p-10p text-center bg-light-green-color">
    <div class="max-w-75p m-auto">
        <p class="text-xl"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa temporibus sequi? </p>
        <p >  Deserunt magnam odit iusto, dolore excepturi facere praesentium quis facilis tenetur tempora repellendus sequi, adipisci at neque provident? </p>
    </div>
</section>



